<% provide(:title, "About") %>

<h1>About</h1>
<p>This is the discription about this app.</p>
<p>This is a e-dictionary for atmospheric sicences, which is very convinent for 
     you to look into a word.</p>

